* {
  box-sizing: border-box;
}

html {
  height: 100%;
  color: #000;
  font-family: "M PLUS 1 Code", "Noto Sans Mono CJK JP", Osaka-mono, "MS Gothic", Menlo, Consolas, Courier, "Courier New", monospace, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-decoration-skip-ink: none;
  word-break: break-all;
  background: #fff;
  cursor: default;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0;
}

main {
  height: 100%;
  margin: 0;
}

main > div {
  position: relative;
  height: 100%;
  touch-action: none;
  
  &[data-p="1"] {
    cursor: move;
  }
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

/* プレビューとして表示させる */
textarea {
  position: absolute;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: 16px;
  font-family: inherit;
  background: transparent;
  cursor: default;
  caret-color: transparent;
  resize: none;
  -webkit-tap-highlight-color: transparent;
}
